.vscode/

# Secrets
.env

# MacOS
.DS_Store

# Python
__pycache__/
*.pyc

# Airflow logs
airflow/logs/

# Generated datasets
assets/datasets/Original_file/*.csv
assets/datasets/Transformed_full/*.csv
assets/datasets/Transformed_tables/*.csv